@using Recipify.Web.ViewModels.Recipe
@model DeleteRecipeInputModel

@{
    ViewData["Title"] = "Delete Recipe";
}

@await Html.PartialAsync("_ValidationSummary")


<h2>Are you sure you want to delete this recipe?</h2>
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.ShortDescription</p>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
