@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link href="~/css/templatemo-softy-pinko.css" rel="stylesheet" media="all">

<link href="~/css/font-awesome.css" rel="stylesheet" media="all">

<link href="~/css/flex-slider.css" rel="stylesheet" media="all">

<link href="~/css/bootstrap.min.css" rel="stylesheet" media="all">
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
