body {
    background-color:pink;
}


h1,h2,h3,h4 {
    color: deeppink;
    text-align: center;
}

.custom-footer, footer, .custom-header {
    background-color: #F578B7;
    color: white;
    text-align: center;

/*    padding: 10px;
*/}



    footer a {
        color: #DB2582;
        box-shadow: inherit;
        font-weight: 400;
    }